<nav>

  <div class="nav-left">
    <a href="http://localhost:8080"class="logo">LOGO</span>
    <span class="nav-links">
      <a href="http://localhost:8080/menu"class="nav-link">MENU</a>
      <a href="http://localhost:8080/about_us"class="nav-link">ABOUT US</a>
    </span>
  </div>

  <div class="nav-right">
    <form action="http://localhost:8080/login">
      <input type="submit" value="LOGIN" />
    </form>
    <form action="http://localhost:8080/register">
      <input type="submit" value="REGISTER" />
    </form>
    <a href="http://localhost:8080/menu"class="cart">CART</a>
  </div>

</nav>
