<nav class="nav-container">

  <div class="nav-left">
     <a href="http://localhost:8080"class="logo">
     <img src="https://seeklogo.com/images/F/food-chief-spoon-logo-778E6F7075-seeklogo.com.png"></a>
    <span class="nav-links">
      <a href="http://localhost:8080/menu"class="nav-link">MENU</a>
    </span>
  </div>
   <% if (user) {%>
    <div class="nav-right"></div>
      <form class="user-email" method="POST" action="/logout">
        <a>Logged in as <%=user.email%></a>
        <button type="submit" class="logout-button user-button">Logout</button>
      </form>
      <a href="http://localhost:8080/menu"class="cart">
        <img src="https://marketplace.canva.com/MAB3jQafwHM/1/thumbnail_large/canva-shopping-cart-with-bags-inside-icon--MAB3jQafwHM.png"></a>
    </div>
  <%} else {%>

  <div class="nav-right">
    <form action="http://localhost:8080/login">
      <input class="user-button" type="submit" value="LOGIN" />
    </form>
    <form action="http://localhost:8080/register">
      <input class="user-button" type="submit" value="REGISTER" />
    </form>
    <div>
      <a href="http://localhost:8080/menu"class="cart">
      <img src="https://marketplace.canva.com/MAB3jQafwHM/1/thumbnail_large/canva-shopping-cart-with-bags-inside-icon--MAB3jQafwHM.png"></a>
      </div>
  </div>
  <%}%>

</nav>
