<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checkout</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/checkout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <% include partials/_nav %>
  <body>

    <section class="checkout-container">
      <h2>Order Confirmation</h2>
      <article class="cart-order">
          <div class="food-ordered">
          </div>
      </article>
      <form class="checkout-form" action="/checkout" method="POST">
        <input class="text-input" type="text" name="comment">
        <input class="button-checkout" type="submit" value="Checkout"/>
      </form>
    </section>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>
    <script>
      let cartItem = JSON.parse(localStorage.getItem("cart-item"));
      $('.checkout-form').on("submit", function(e) {
        e.preventDefault();

          $.post('/checkout', {cartItem})
          .done(function(resp){

            localStorage.clear();
            window.location.href='/';
          })
      });
    </script>
  </body>
</html>
<!-- added jquery so we can access local localStorage -->
