<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Checkout</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <% include partials/_nav %>
  <body>

    <section class="checkout-container">
      <h2>Order Confirmation</h2>
      <article class="cart-order">
        <% for (let cart of order) {%>
          <div class="food-ordered">
            <%= cart.name %>
          </div>
        <%}%>
      </article>
      <form action="/checkout" method="POST">
        <input type="text" name="comment">
        <input type="submit" value="YES"/>
      </form>
    </section>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>


  </body>
</html>
