<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <% include partials/_nav %>
  <body>
    <header class="banner">
      <form action="/menu">
          <input class="click-order" type="submit" value="CLICK TO ORDER" />
      </form>
      <form method="POST" action="/orders">
        <input class="click-order" type="submit" value="CHECK YOUR ORDERS" />
    </form>
    </header>

    <section class="container-how-to">
      <h3 class="title">WHY USE OUR ONLINE PICKUP FEATURE</h3>
      <div class="image-boxes">
        <div class="box1">
          <img src="https://i.imgur.com/jREL4Sj.png" alt="it's free">
          <p></p>
        </div>
        <div class="box2">
          <img src="https://i.imgur.com/mWxAKoe.png">
          <p></p>
        </div>
        <div class="box3">
          <img class="image3" src="https://i.imgur.com/9JkOPTb.png">
          <p></p>
        </div>
      </div>
    </section>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>


  </body>
</html>
