<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <% include partials/_nav %>
  <body>
<<<<<<< HEAD
    <nav>
      <div class="nav-left">
        <span class="logo">LOGO</span>
        <span class="nav-links">
          <a href="http://localhost:8080/"class="nav-link">MENU</a>
          <a href="http://localhost:8080/"class="nav-link">ABOUT US</a>
        </span>
      </div>
      <div class="nav-right">
        <form method="POST" action="login.ejs">
        <button>LOGIN</button>
      </form>
        <button>REGISTER</button>
        <a href="http://localhost:8080/"class="cart">CART</a>
      </div>
    </nav>
=======
>>>>>>> 1e8efc796267f5396e7fea734f00d1409036d2cb

    <header class="banner">
      <form action="http://localhost:8080/menu">
          <input type="submit" value="CLICK TO ORDER" />
      </form>
    </header>

    <section class="container">
      <h3 class="title">WHY USE OUR ONLINE PICKUP FEATURE</h3>
      <div class="image-boxes">
        <div class="box1">
          <img>
          <p>BOX 1</p>
        </div>
        <div class="box2">
          <img>
          <p>BOX 2</p>
        </div>
        <div class="box3">
          <img>
          <p>BOX 3</p>
        </div>
      </div>
    </section>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>


  </body>
</html>
