<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ADMIN PAGE</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <% include partials/_nav %>


  <body>
    <container class="order-container">
      <div class="order-info">
        <span>ORDER ID</span>
        <span>ORDER DATE</span>
        <span>ACCEPTED</span>
        <span>COMPLETED</span>
      </div>
      <article class="new-order">
        <span>ORDER ID</span>
        <span>ORDER DATE</span>
        <button>ACCEPT</button>
        <button>COMPLETE</button>
      </article>
    </container>

    <footer>
      <h4 class="info-title">CONTACT US</h4>
      <div class="info">
        <p>PHONE</p>
        <p>ADDRESS</p>
        <p>HOURS</p>
        <p>EMAIL</p>
      </div>
    </footer>

  </body>
