// See: https://sass-lang.com/

body {
  background-color: #EDEAE5;

  h1 {
    color: #244751;
  }
}

.nav-container {
  display: flex;
  background-color: #026670;
  width: 100%;
  position: fixed;
  height: 125px;
  z-index: 1000;
  top: 0;
}

.nav-container {
  form{
    margin-right: 10px;
  }
}

.nav-link {
  margin: 10px;

}

.nav-right {
  // display: flex;
  justify-content: center;
  display: flex;
  margin-left: auto;
  padding-right: 25px;
  /* margin-top: 25px; */
  align-items: center;
}

.nav-left {
  // margin: 25px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.banner {
  height: 375px;
  display: flex;
}

header {
  form {
    margin: auto;
  }
}

.container {
  height: 300px;
}

.title {
  text-align: center;
}

.image-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.box1 {
  border: solid;
}

.box2 {
  border: solid;
}

.box3{
  border: solid;
}

footer {
  width: 100%;
  background: #026670;
  padding: 25px;
  bottom: 0;
}
.info-title {
  text-align: center;
}

footer .info {
  display: flex;
  justify-content: space-around;
}

.user-email {
  padding: 50px 20px;
}

.cart {
  padding: 50px 10px;
}
