.body-rest {
  text-align: center;
}

.order-info {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

footer {
  width: 100%;
    background: #026670;
    padding: 25px;
    bottom: 0;
    left: 0;
    position: absolute;
}
